
<!-- *****CHART***** -->
 <script type="text/javascript">
   google.load('visualization', '1', {packages:['corechart']});
   google.setOnLoadCallback(drawChart);

   function drawChart(){
    var data = google.visualization.arrayToDataTable([
        ['Date', '$'],

        <% @records.each do |record| %>
          <% if record.item_id == item_id %>
           [<%= record.created_at.to_s[0..9].scan(/\d/).join.to_i%>, <%= record.price.to_f/100 %>],
          <% end%>
        <% end%>

      ]);
    var options = {
      title: 'HISTORY'
    };
    var chart = new google.visualization.LineChart(document.getElementById('chart_div'));
    chart.draw(data, options);
   }
 </script> 

<!-- *****LIST ITEMS***** -->
<p id='item<%= item_id %>' class='items'>
Item: <%= item_name %></br>
Url: <a href="<%= url %>"><%= item_url %></a></br>
Description: <%= item_description %></br>
<!-- interchange onclick? -->
Pic: MAYBE</br>
Graph:NOT YET</br>

<div id="chart_div" style="width: 600px; height: 380px;"></div>
<!-- *****REMOVE ITEM BOTTON***** -->
        <form class='remove' method='post' action='/users/<%= session[:user_id] %>/<%= item_id %>'>
          <input type='submit' value='Remove it!'>
        </form>
      </p>
