<!-- *****CHART***** -->
<script type="text/javascript">
  google.load('visualization', '1', {packages:['corechart']});
  google.setOnLoadCallback(drawChart);

  function drawChart(){
  var data = new google.visualization.DataTable();
      data.addColumn('date', 'Date');
      data.addColumn('number', '$');
      data.addRows([
      <% @records.sort_by{|key, value| key[:created_at]}.each do |record| %>
        <% if record.item_id == item_id %>
          <% time = record.created_at.to_s %>
          [new Date(<%= time[0..3] %>, <%= time[5..6].to_i - 1 %>, <%= time[8..9] %>), <%= record.price.to_f/100 %>],
        <% end%>
      <% end%>
    ]);
  var options = {
    title: 'Price Chart'
  };
  var chart = new google.visualization.LineChart(document.getElementById('chart_div' + <%= counter %>));
  chart.draw(data, options);
  }
</script> 

<!-- *****LISTING ITEMS***** -->
<div class="row">
  <div class='col-sm-5'>
    <p id='item<%= item_id %>' class='items'>
      <b><%= item_name %></b></br>
      <%= item_description %></br></br></br>
      <a href="<%= item_url %>">Click My Referral Link!</a></br>
  </div>

    <div class='col-sm-4 charts' id="chart_div<%= counter %>" style="width: 420px; height: 280px;"></div>
<!-- *****REMOVE ITEM BOTTON***** -->
    <form class='remove col-sm-1' method='post' action='/users/<%= session[:user_id] %>/<%= item_id %>'>
      <input class='btn btn-primary' type='submit' value='Remove'>
    </form>
  </p>
</div>